@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 margin: 0;
 font-family: "Roboto", sans-serif;
 overflow: hidden;
 height: 100vh;
}

body * {
    box-sizing: border-box;
}


.intro-animation {
    width: 100vw;
    height: 100vh;
    background-color: #FFF9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: fadeOut 5s ease 8s forwards;
}

.intro-animation h1 {
    color: #000000;
    font-size: 3rem;
    margin-top: 20px;
    animation: fadeInMove 5s ease;
}


@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #FFF9EA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #000000;
}

.left-login-image{
    width: 35vw;
}

.right-login{
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #FEE8B6;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #000000;
    font-weight: 800;
    margin: 20px 20px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#FFFFFF;
    color: #000000;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #000000;
    margin-bottom: 10px;
}

.textfield > input ::placeholder {
    color: #f0ffff94;
}
 .textfield > a {
    font-size: 16px;
    margin-top: 5px;
    color: #000000;
    text-decoration: none;
 }

 .textfield > a:hover {
    text-decoration: underline;
 }

.btn-login  {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #E4A620;
    cursor: pointer;
    box-shadow: 0px 10px 40px 12px #00000052;
}

.btn-login:hover {
    background: #f3dd7a;
}
.resgister-link  p  {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.resgister-link {
    text-align: center;
    margin: 20px 0;
}

.resgister-link  p a {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.resgister-link  p a:hover {

 text-decoration: underline;
}

@media only screen and (max-width: 950px){
          .main-login {
            flex-direction: column;
          }
          .left-login > h1 {
            display: none;
          }
          .left-login {
            width: 100%;
            height: auto;
          }
          .right-login {
            width: 100%;
            height: auto;
          }

          .left-login-image {
            width: 50vw;
          }

          .card-login {
            width: 90%;
          }
}
